.DS_store
.venv/*
**/__pycache__/

delires/data/degraded_data/
delires/data/ffhq/
delires/data/clean_data_diffpir/

delires/results/
delires/models/
delires/sandbox/

delires/methods/diffpir/figs/
delires/methods/diffpir/model_zoo/
delires/methods/diffpir/results/

delires/operators/

**/notes.txt
**/sandbox.py
**.ipynb