.DS_store
.venv/*
**/__pycache__/

delires/methods/diffpir/figs/
delires/methods/diffpir/model_zoo/
delires/methods/diffpir/results/

delires/data/degraded_datasets
delires/data/clean_images_others
delires/results/
delires/models/

**/notes.txt
**/sandbox.py
**.ipynb