.DS_store
.venv/*
**/__pycache__/

delires/diffusers/diffpir/figs/
delires/diffusers/diffpir/model_zoo/
delires/diffusers/diffpir/results/

delires/data/degraded_datasets
delires/results/
delires/models/

**/notes.txt
**/sandbox.py